

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://career.gatech.edu/sites/default/files/images/itorizon_logo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form (ngSubmit)="login()" #f="ngForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-1"> 
            </div>
            <div class="col-sm-2"> 
              <label>Username:<span style="color: red;">*</span></label>
              
            </div>
            <div class="col-sm-12">
              <input [(ngModel)]="enteredUsername"  type="text" id="login" class="fadeIn second" name="username" placeholder="login" ngModel>
              <span *ngIf="usernameEmpty && f.controls['username'].pristine" class="errorMessages" ><br>username cannot be empty<br></span>
            </div>
          </div> 
          
          <div class="row">
            <div class="col-sm-1"> 
            </div>
            <div class="col-sm-2"> 
              <label >Password:<span style="color: red;">*</span></label>
            </div>
            <div class="col-sm-12">
              <input type="password" [(ngModel)]="enteredPassword" id="password" class="fadeIn third" name="password" placeholder="password" ngModel>
              <span *ngIf="passwordEmpty && f.controls['password'].pristine" class="errorMessages" ><br>password cannot be empty<br></span>
            </div>
            
          </div> 
          <div class="row">
            
            <div class="col-sm-12 mt-2">
              <input id="loginButton" type="submit" class="fadeIn fourth" value="Log In">
            </div>
          </div>
        </div>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="showalert">
       Invalid Username and password. Try again!
      </div>
      
    </div>
  </div>


  <p-toast ></p-toast>