<div class="container-fluid" id="greet">
    <h1 id="addUser">Edit User</h1>
</div>
<div class="container">
    <div class="container rounded bg-white mt-5 mb-5" class="d1" >
        <form #f="ngForm" (ngSubmit)="onSubmit()" >
            <div class="row" >
                <div class="col-md-5 border-right" id="leftColumn">
                    <div class="d-flex flex-column align-items-center text-center" id="imageDiv">
                        <img class="rounded-circle mt-5" *ngIf="!newImg"  width="150px" height="150px" src="{{image}}">
                        <img *ngIf="newImg" class="rounded-circle mt-5"  width="150px" height="150px" src="{{newImage}}">
                        <label class="form-label" for="customFile">only .jpg and .png images allowed</label>
                        <input type="file" style="width: 50%;" (change)="onfileselected($event)" 
                        accept="image/png , image/jpg"  class="form-control" id="customFile" name="image" #img/>
                        <span *ngIf="nonImage"> 
                            <br>
                            <div class="alert alert-danger" style="width: 300px"  role="alert">
                                Unsupported file
                            </div> 
                        </span>             
                    </div>
                    
                    
                    <div class="radio">
                        <label>
                        <!-- class="labels" -->
                            Genders:
                        </label>
                        <br>
                        <label class="g">
                        <input type="radio" disabled name="gender" ngModel value="male">
                            Male
                        </label>
                        
                        <label class="g">
                            <input type="radio" disabled name="gender" ngModel value="female" style="margin-left: 10px;">
                            Female
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label >Email ID: <span style="color: red;">*</span></label>
                        <input type="text" disabled pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" class="form-control" maxlength="100" 
                        placeholder="enter email id" value="" 
                        name="email" ngModel>
                    </div>

                    <div class="col-md-12">
                        <label>password:<span style="color: red;">*</span></label>
                        <input type="password" disabled class="form-control"
                        placeholder="password"
                        
                    name="password" value="" ngModel>
                    </div>

                    <div class="col-md-12">
                        <label>confirm password:<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" disabled PasswordValidator="password" minlength="8" maxlength="20"
                        placeholder="confirm password"
                        value="" name="confirmpassword" 
                        ngModel>
                    </div>

                    
                    <label>Select Roles:</label>
                    <div>
                        <!-- <p-checkbox value="true"  name="canEdit" inputId="ny" ngModel> </p-checkbox>
                        <label class="r" for="ny">Can Edit</label>
                        <p-checkbox  value="true" name="canDelete" inputId="sf" ngModel [style]="{'margin-left': '10px'}"></p-checkbox>
                        <label class="r" for="sf">Can Delete</label>
                        <p-checkbox value="true"  name="canAdd" inputId="la" [style]="{'margin-left': '10px'}" ngModel></p-checkbox>
                        <label class="r">Can Add</label> -->
                        <p-dropdown [options]="roles" [(ngModel)]="selectedRolesCode" name="roles" placeholder="Select role"   optionValue="code" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                    
                    <div class="col-md-12 dropdown">
                        <label>Status:<span style="color: red;">*</span></label>
                        <select class="form-select" name="status" ngModel>
                            <option value="available">Available</option>
                            <option value="unavailable">Unavailable</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 border-right" id="title">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3" >
                            <h2 style="font-family: 'Poppins', sans-serif;">Edit User</h2>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label>UserName<span style="color: red;">*</span></label>
                                <input type="text" disabled class="form-control"  name="username" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label >First Name:<span style="color: red;">*</span></label>
                                <input type="text" disabled class="form-control"  placeholder="firstname" 
                                maxlength="30" value="" name="firstname" ngModel>
                            </div>
                            <div class="col-md-6">
                                <label>Last name:</label>
                                <input type="text" disabled class="form-control" value="" placeholder="lastname" maxlength="30" name="lastname" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-outline datepicker w-100 col-md-12">
                                <label for="birthdayDate">Birthday:</label>
                                <input type="date" disabled class="form-control" name="birthday" id="birthdayDate" ngModel/>
                        </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label >Mobile Number:<span style="color: red;">*</span></label>
                                <input type="text" disabled class="form-control" maxlength="10"  
                                placeholder="enter phone number" value="" 
                                required name="mobile" ngModel>
                            </div>
                            <div class="col-md-12">
                                <label >Address :<span style="color: red;">*</span></label>
                                <input type="text" class="form-control" maxlength="100" 
                                placeholder="enter address" value="" required name="address"  [(ngModel)]="addres"
                                ngModel>
                                <span *ngIf="addresFail" style="color: red;">enter valid address</span>
                            </div>
                            <div class="col-md-12">
                                <label>zipcode:</label>
                                <input type="text" class="form-control"
                                maxlength="20" placeholder="zipcode" value="" name="zipcode"
                                ngModel>  
                            </div>
                                <div class="col-md-6 dropdown">
                                    <label>Country:</label>
                                    <select placeholder="Country" class="form-select" (change)="changeCountry($event)" name="country" ngModel>
                                        <!-- <option>--Choose Country--</option> -->
                                        <option value="USA">USA</option>
                                        <option value="India">India</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" placeholder="country" value=""> -->
                                </div>
                                <div class="col-md-6">
                                    <label>State/Region:</label>
                                    <select placeholder="State" class="form-select" name="state" ngModel>
                                        <option value="">--Choose State--</option>
                                        <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" value="" placeholder="state"> -->
                                </div>
                        
                            <div class="col-md-12">
                                <label>Timezone:</label>
                                <select class="form-select" name="timezone" ngModel>
                                    <!-- <option selected>--Choose timezone--</option> -->
                                
                                    <option value="AST" >AST</option>
                                    <option value="EST">EST</option>
                                    <option value="CST">CST</option>
                                    <option value="UTC+10">UTC+10</option>
                                </select>
                                <!-- <input type="text" class="form-control" placeholder="timezone" value=""> -->
                            </div>
                            <div class="col-md-12">
                                <label>Locales:</label>
                                <select class="form-select" name="locale" ngModel>
                                    <option selected></option>
                                    <option value="us" >en_US</option>
                                    <option value="india">kn_IN</option>
                                    <option value="ireland">en_IE</option>
                                </select>
                                <!-- <input type="text" class="form-control" placeholder="locales" value="" required name="locales" ngModel> -->
                            </div>
                            
                            
                            
                        </div>
                        
                    </div>
                    
                    
                </div>
                <hr>
                <div id="buttonDiv" >
                    <button class="btn btn-primary btn-lg m-3" type="submit" >Save</button>
                    <button class="btn btn-primary btn-lg" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
            
        </form>  
    </div>
</div>