
#label{
    background-color:  rgb(59, 200, 255);
    height: 150px;
    position: sticky;
}
svg{
    display: inline;
    position: relative;
    bottom: 10px;
    height: 40px;
    width:50px;
     margin-left:10px
}
h1{
    margin-left: 20px;
    margin-bottom: 0;
    display: inline-block;
}
#page{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

#add{
    display: inline-block;
    float: right;
}

#d2,#d4{
    padding-right: 50px;
}
#popup{
    display:contents;
    visibility: hidden;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#primepop{
    padding-left: 50px;
}
.p-dialog{
    width: 600px;
}

:host ::ng-deep .implementation .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

#label{
    font-family: 'Noto Sans', sans-serif;
    padding-left: 40px;
    padding-top: 30px;
}
#header{
    font-family: 'Poppins', sans-serif;
}

.good{
    padding: 9px 13px;
    border-radius: 15px;
    background-color: rgb(73, 207, 104);
    color: rgb(81, 81, 81);
    font-weight: 600;
}
.bad{
    padding: 9px 13px;
    border-radius: 15px;
    background-color: rgb(255, 65, 65);
    color: rgb(81, 81, 81);
    font-weight: 600;
}

#table{
    width: 95%;
    padding: 0;
    position: relative;
    bottom: 50px;
    -webkit-box-shadow: 0 0 10px  lightblue;
    box-shadow: 0 0 10px  lightblue;

}
#addSection{
    background-color: white;
}
.user-list-content{
    background-color: rgb(255, 255, 255);
}
hr{
    margin-left: 10px;
    margin-right: 10px;
}
.errorColor{
    color: red;
}

