#greet{
    z-index: 1;
    height: 150px;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-left: 120px;
    background-color: rgb(59, 200, 255);
}

.full{
    background-color: white;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px  lightblue;
    box-shadow: 0 0 10px  lightblue;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;        
}

img{
    width: 200px;
    height: 200px;
}

#div1{
    width: 90%;
}

.col-sm-4{
    text-align: left;
}

div label{
    margin-left: 2px;
}