<div class="container-fluid" id="greet">
    <h1 id="addUser">Profile</h1>
</div>

<div class="container full" >
    <div class="container-fluid text-center" id="div1">
        <img src="{{userImage}}" class="rounded-circle m-4">
        <div class="row mb-5">
            <div class="col-sm-4" >
                <div>
                    <label>UserName:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='username'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>DOB:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.birthday'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Zipcode:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.zipcode'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Timezone:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.timezone'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Email:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.email'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Status:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.status'>
                </div>
            </div>

            <div class="col-sm-4">
                <div *ngIf="username!=='admin'">
                    <label>First name:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.firstname'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Mobile:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.mobile'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Country:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.country'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Locale:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.locale'>
                    <br>
                </div>
                
                <div>
                    <label>Password:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.password'>
                </div>
                
            </div>

            <div class="col-sm-4">
                <div *ngIf="username!=='admin'">
                    <label>Last name:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.lastname'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">    
                    <label>Address:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.address'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>State:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.state'>
                    <br>
                </div>
                
                <div *ngIf="username!=='admin'">
                    <label>Gender:</label>
                    <br>
                    <input disabled class="form-control" [placeholder]='loggedInUserInfo.gender'>
                    <br>
                </div>
                
                <div>
                    <label>Roles:</label>
                    <input [placeholder]="roles"  disabled class="form-control" name="roles">   
                </div>
            </div>
        </div>
        <button pButton label="Back" type="button" routerLink="/main/home" class="p-button-raised mb-3"></button>
    </div>
</div>