#greet{
    height: 150px;
    width: 100%;
    position: relative;
    
    padding-top: 20px;
    padding-left: 120px;

    background-color: rgb(59, 200, 255)
    
}
.d1{
    background-color: white;
    position: relative;
    z-index: 1;
    bottom: 50px;

    -webkit-box-shadow: 0 0 10px  lightblue;
    box-shadow: 0 0 10px  lightblue;

}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

label{
    margin-top: 15px;
}
input{
    margin-top: 7px;
}
.r{
    margin-top: 5px;
    margin-left: 5px;
}
.g{
    margin-top: 5px;
}

.content {
	display: flex;
	margin: 32px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
    
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}

#f1{
    background-color: aqua;
}
.row{
    width: 100%;
}
#title{
    font-family: 'Cairo', sans-serif;
    font-weight:normal;
    padding-left: 40px;
    margin-left: 30px;
}
#buttons{
    text-align: right;
    margin-bottom: 10px;
    padding-right: 50px;
}
#imageSection{
    padding: 0;
    margin-top: 100px;
    margin-left: 60px;
}
.leftFields{
    
    margin-left: 40px;
}
#phnNum{
    margin-top: 25px;
}
#addUser{
    
}
/* #dp{
    z-index: ;
} */