
<div class="container-fluid" id="greet">
    <h1 id="addUser">Add user</h1>
</div>



<div class="container" id="dp">
    <div class="container rounded bg-white mt-5 mb-5" class="d1">
        <form #f="ngForm"  (ngSubmit)="onSubmit(f)">
            <div class="row" >
                <div class="col-sm-6 border-right">
                    <div class="ml-3 px-3">
                        <div class="d-flex justify-content-between align-items-center mt-4 mb-3" >
                            <h2 style="font-family: 'Poppins', sans-serif;">User Details</h2>
                        </div>

                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="rounded-circle mt-5" [src]="image" width="150px" height="150px">
                            <label class="form-label" for="customFile">only .jpg and .png images allowed</label>
                            <input type="file" style="width: 50%;" class="form-control" id="customFile" name="image" (change)="onfileselected($event)" accept="image/jpg, image/png" #img />
                            <span *ngIf="nonImage"> 
                                <br>
                                <div class="alert alert-danger" id="imageError"  role="alert">
                                    Unsupported file
                                </div> 
                            </span>     
                        </div>
                        
                        <div class="">
                            <label>UserName<span class="redFont">*</span></label>
                            <input type="text" class="form-control" disabled [ngClass]="{'is-invalid': username.invalid && username.touched}"
                            #username="ngModel" maxlength="20" [placeholder]='user'  [(ngModel)]="user" value="" required name="username" >
                            <span *ngIf="username.invalid && username.touched" class="redFont">enter valid username</span>
                        </div>

                        <div class="row m-0">
                            <div class="col-sm-6 pl-0 pr-1">
                                <label >First Name:<span class="redFont">*</span></label>
                                <input type="text" class="form-control" placeholder="firstname" maxlength="30" [ngClass]="{'is-invalid': f.controls['firstname']?.invalid && submitted}" 
                                required name="firstname" [(ngModel)]="userData.firstname" [pattern]="firstnamePattern">
                                <div *ngIf="submitted">
                                    <span *ngIf="f.controls['firstname'].invalid && submitted"  class="redFont">
                                    enter valid username</span>
                                </div>    
                            </div>

                            <div class="col-sm-6 p-0">
                                <label>Last name:</label>
                                <input  [ngClass]="{'is-invalid': f.controls['lastname']?.invalid && lastname.dirty && submitted}"   type="text" class="form-control" [(ngModel)]="userData.lastname" value=""
                                 placeholder="lastname" [pattern]="lastnamePattern"  maxlength="30" name="lastname" >
                                <div *ngIf="submitted"> 
                                    <span *ngIf="f.controls['lastname']?.invalid && f.controls['lastname']?.dirty && submitted"  class="redFont">Invalid last name</span>
                                </div>
                            </div>
                        </div>

  
                        <div>
                            <label>Timezone:</label>
                            <select class="form-select" name="timezone" [(ngModel)]="userData.timezone" >
                                <option value="AST" >AST</option>
                                <option value="EST">EST</option>
                                <option value="CST">CST</option>
                                <option value="UTC+10">UTC+10</option>
                            </select>   
                        </div>
                        <div>
                            <label>Locales:</label>
                            <select class="form-select" name="locale" [(ngModel)]="userData.locale" >
                                <option selected></option>
                                <option value="us" >en_US</option>
                                <option value="india">kn_IN</option>
                                <option value="ireland">en_IE</option>
                            </select>
                        </div>

                        <div class="" >
                            <label>zipcode:</label>
                            <input type="text" class="form-control" [pattern]="zipcodePattern" maxlength="20" placeholder="zipcode" 
                            [(ngModel)]="userData.zipcode" name="zipcode">
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['zipcode'].invalid && submitted"  class="redFont">
                                enter valid zipcode</span>
                            </div>
                        </div>
                    </div>    
                </div>


                <div class="col-sm-6 border-right">
                    <div class="ml-3 px-3">
                        
                        <div class="" >
                            <label >Address :<span class="redFont">*</span></label>
                            <input type="text" class="form-control" maxlength="100" placeholder="enter address" required name="address" 
                            [(ngModel)]="userData.address" [ngClass]="{'is-invalid': f.controls['address']?.invalid && submitted}">
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['address']?.invalid || f.controls['address'].pristine && f.controls['address'].touched" class="redFont">enter valid address</span>
                            </div>  
                        </div>

                        <div class="row m-0">
                            <div class="col-sm-6 dropdown pl-0 pr-1" >
                                <label>Country:</label>
                                <select placeholder="Country" class="form-select"  (change)="changeCountry($event)" [(ngModel)]="userData.country"
                                 name="country" >
                                    <option *ngFor="let country of Countries">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6 p-0" >
                                <label>State/Region:</label>
                                <select placeholder="State" class="form-select" name="state" [(ngModel)]="userData.state">
                                    <option value="">--Choose State--</option>
                                    <option *ngFor="let state of states">{{state}}</option>
                                </select>
                            </div>
                        </div> 

                        <div class="" >
                            <label >Mobile Number:<span class="redFont">*</span></label>
                            <input type="text" class="form-control" placeholder="enter phone number" value="" [pattern]="phoneNumberPattern" [ngClass]="{'is-invalid': f.controls['mobile']?.invalid && submitted}" 
                            [(ngModel)]="userData.mobile" required name="mobile" >
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['mobile']?.invalid || f.controls['mobile'].pristine && f.controls['mobile'].touched" class="redFont">enter valid mobile number</span>
                            </div>  
                        </div>

                        <div class="form-outline datepicker w-100 ">
                            <label for="birthdayDate">Birthday:</label>
                            <input type="date" [(ngModel)]="bdayDate" class="form-control" name="birthday" id="birthdayDate" (change)="validateBday()">
                            <div *ngIf="submitted">
                                <span *ngIf="bdayFail" class="redFont">DOB year invalid</span>
                            </div> 
                        </div>

                        <div class="radio">
                            <label>
                                Genders: <span class="redFont">*</span>
                            </label>
                            <br>
                            <label class="g">
                            <input type="radio" name="gender" [(ngModel)]="userData.gender" required  value="male">
                                Male
                            </label>
                                
                            <label class="g">
                                <input type="radio" name="gender" [(ngModel)]="userData.gender" required value="female" style="margin-left: 10px;">
                                Female
                            </label>
                            <div *ngIf="submitted" class="m-0">
                                <span *ngIf="f.controls['gender']?.pristine" class="redFont">select a gender</span>
                            </div>     
                        </div>
                        <div>
                            <label >Email ID: <span class="redFont">*</span></label>
                            <input type="text" class="form-control" maxlength="100" placeholder="enter email id" value="" [(ngModel)]="userData.email"
                            [ngClass]="{'is-invalid': submitted && f.controls['email']?.invalid}" required name="email" [pattern]="emailPattern">
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['email']?.invalid" class="redFont">enter a valid email id</span>
                            </div>         
                        </div>  
                        <div>
                            <label>password:<span class="redFont">*</span></label>
                            <input [ngClass]="{'is-invalid': f.controls['password']?.invalid && submitted}" type="password" class="form-control"
                            placeholder="password" minlength="8" maxlength="20" required [pattern]="passwordPattern"
                            name="password" value="" [(ngModel)]="userData.password">
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['password']?.invalid" class="redFont">enter a valid password</span>
                            </div>
                            <span *ngIf="f.controls['password']?.invalid && f.controls['password']?.dirty">
                                <br>
                                <div class="alert alert-danger"  role="alert">
                                    password must contain atleast 1 upper and 1 lower case with atleast 1 number (must have minimum 8 characters)
                                </div>
                            </span>
                        </div>
                        <div>
                            <label>confirm password:<span class="redFont">*</span></label>
                            <input type="password"  class="form-control" PasswordValidator="password" minlength="8" maxlength="20"  placeholder="confirm password"
                            value="" name="confirmpassword" [ngClass]="{'is-invalid': (f.controls['confirmpassword']?.errors?.['notEqual'] && submitted) || (f.controls['confirmpassword']?.invalid && submitted)}" required
                            [(ngModel)]="confirmpass">
                            <span  *ngIf="f.controls['confirmpassword']?.errors?.['notEqual']" 
                                class="redFont">password not matching</span>
                            <div *ngIf="submitted">
                                    <span *ngIf="f.controls['confirmpassword']?.invalid" 
                                    class="redFont">
                                    invalid field input
                                </span>
                            </div>       
                        </div>
                        
                        <div class="">
                            
                            <label class="mr-2">Select Roles:<span class="redFont">*</span></label>
                            <!-- <p-dropdown [options]="roles" [ngClass]="{'is-invalid': f.controls['roles']?.invalid && submitted }"
                             [(ngModel)]="userData.roles" placeholder="Select role" name="roles"  [required]="true"
                             optionValue="code"  optionLabel="name"></p-dropdown> -->
                             <select [(ngModel)]="userData.roles" [ngClass]="{'is-invalid': f.controls['roles']?.invalid && submitted}"  required class="form-select" name="roles">
                                <option value="Admin">Admin</option>
                                <option value="ITOuser">ITOuser</option>
                            </select>
                                <div *ngIf="submitted">
                                    <span *ngIf="f.controls['roles']?.invalid" class="redFont">Select a role</span>
                                </div>
                                     
                        </div> 
                        
                        <div class="dropdown mb-2" >
                            <label>Status:<span class="redFont">*</span></label>
                            <select class="form-select" name="status" [ngClass]="{'is-invalid': f.controls['status']?.invalid && submitted}"
                            [(ngModel)]="userData.status" required>
                                    <option value="Active" >Active</option>
                                    <option value="Disabled" >Disabled</option>
                            </select>
                            <div *ngIf="submitted">
                                <span *ngIf="f.controls['status']?.invalid" class="redFont">Select a status</span>
                            </div>   
                        </div>   
                    </div>   
                </div>
                <hr style="width: 95%; margin-left: 35px;">
                <div id="buttons">
                    <button class="btn btn-primary btn-lg m-3" type="submit">Save</button>
                    <button class="btn btn-primary btn-lg" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            
        </form>  
    </div>
</div>  