#greet{
    position : absolute;
    z-index: 1;
    height: 150px;
    background-color: rgb(59, 200, 255)
    
}
.card{
    z-index: 2;
    width: 80%;
    
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    -webkit-box-shadow: 0 0 10px  lightblue;
    box-shadow: 0 0 10px  lightblue;
    margin-top: 80px;
    margin-bottom: 10px;
}
#welcome{
    margin-top: 13px;
}

