.dark-m{
    background-color: #545a5c;
    
}
.welcome{
    background-color: rgb(78, 228, 255);
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

.welcome-dark{
    background-color: rgb(86, 86, 86);
    color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

/* #graph{
    width: 80%;
    padding: 40px 0 40px 0;
    
} */
#greet{
    height: 150px;
    background-color: rgb(59, 200, 255)
}
.card{
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 50px;
    -webkit-box-shadow: 0 0 10px  lightblue;
    box-shadow: 0 0 10px  lightblue;

}
#welcome{
    /* display: inline-block; */
    /* width: 50%; */
    
    margin-top: 20px;
    /* margin-left: 70px; */
}


/* #graph-home{
    background-color: blue;
} */
/* #graph-home{
    background-color: rgb(255, 255, 255);
} */

/* body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
  body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
  } */

