
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
      <a><img id="itorizon" src="https://career.gatech.edu/sites/default/files/images/itorizon_logo.png" ></a>
    </div>
    <div class="col-sm-10">
      
    </div>
    <div class="col-sm-1" id="dropdownMenu">
      
      <div class="dropdown" id="menu" >
          
          <a class="btn dropdown-toggle" id="imageAnchor"  role="menu" data-bs-toggle="dropdown">
            <img src="{{userLogo}}" class="rounded-circle align-middle">
            {{username}}
            <!-- <span>({{firstname}} {{lastname}})</span> -->
          </a>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" routerLink="userProfile">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()" id="logout">LogOut</a></li>
        </ul>
      </div>  
    </div>
  </div>
</div>

<div class="topnav" id="myTopnav">
  <a class="navItem navPaths"  id="homeLink" routerLink="/main/home" routerLinkActive = "act" >Home</a>
  <a class="navItem navPaths" routerLink="/main/userList" routerLinkActive = "act">User List</a>
  <a class="navItem navPaths" routerLink="/main/roles" [ngStyle]="{'display': role === 'ITOuser' ? 'none': 'content'}" routerLinkActive = "act">Roles</a>
  <div style="text-align: right;">
    <p id="dateTime" >{{inbuiltDate| date:'dd'}}-{{inbuiltDate|date:'LLL'}}-{{inbuiltDate| date:'yyyy'}} {{inbuiltDate| date:'h'}}:{{inbuiltDate| date:'mm'}}{{inbuiltDate| date:'aaa'}}</p>
  </div>
</div>