

#nav{
    background-color: rgba(24, 102, 219, 0.956);
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 1000px) {
    #navbar{
        display: inline-block;
        width: 800px;
    }
    #navbarSupportedContent{
        display: flex;
        width: 600px;
    }
}

/* @media screen and (max-width: 700px) {
    #navbar{
        display: inline-block;
        width: 400px;
    }
} */